.list {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	height: 800px;
	max-width: 1000px;
	margin: 10px auto 0px;
	padding: 20px;
	align-items: center;
	border-radius: 25px;
	background-color: rgba(168, 168, 168, 0.842);
	overflow-y: scroll;
}
.categories {
	max-height: 100%;
	margin-bottom: 20px;
	padding: 50px;
}

.sort {
	position: fixed;
	left: 1450px;
	top: 230px;
	z-index: 2;
}
.categories a {
	font-size: 36px;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: rgb(182, 0, 148);
	text-decoration: none;
}
.categories a:hover {
	color: rgb(0, 110, 255);
	text-decoration: underline;
}
.categories a:visited {
	color: rgb(0, 64, 116);
}

.categories > li {
	color: black;
	padding: 2px;
	transition: background-color 0.3s;
}

.list > li:hover {
	background-color: rgb(71, 245, 245);
}

.list > li:focus {
	outline: none;
}
