.content {
  margin-top: 15px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 600px;
  max-width: 700px;
  margin: 10px auto 0px;
  padding: 20px;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(168, 168, 168, 0.842);
  overflow: hidden;
}

.categories {
  max-height: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.sort {
  position: absolute;
  width: 110px;
  left: 15px;
  top: 15px;
  z-index: 9999;
}
.categories a {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgb(182, 0, 148);
  text-decoration: none;
}
.categories a:hover {
  color: rgb(0, 110, 255);
  text-decoration: underline;
}
.categories a:visited {
  color: rgb(0, 64, 116);
}

.categories > li {
  color: black;
  padding: 2px;
  transition: background-color 0.3s;
}

.list > li:hover {
  background-color: rgb(71, 245, 245);
}

.list > li:focus {
  outline: none;
}

.scrollContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
