header {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
  padding: 20px;
  max-width: 1000px;
  max-height: 200px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav > ul {
  display: flex;
  justify-content: center;
  gap: 36px;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav {
    max-width: 100%;
  }
  .nav > ul > li {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .nav {
    align-items: center;
  }
  .nav > ul > li {
    font-size: 20px;
    font-weight: 700;
  }
}

@media (max-width: 430px) {
  .nav > ul > li {
    font-size: 20px;
    font-weight: 700;

    gap: 20px;
  }
}

@media (max-width: 390px) {
  .nav > ul > li {
    font-size: 18px;
    font-weight: 700;
    max-width: 50vw;
    gap: 5px;
  }
}

@media (max-width: 375px) {
  .nav > ul > li {
    font-size: 18px;
    font-weight: 700;
    max-width: 50vw;
    gap: 1px;
  }
}
