@import url('./reset.css');

.app {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
