.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-size: 54px;
	font-weight: 800;
	color: #c40101;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(83, 0, 0, 0.603);
}
