.sort {
	position: relative;
	width: 250px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.sort__label {
	display: flex;
	align-items: center;
}

.sort__label b {
	margin-right: 8px;
}

.sort__label span {
	color: #020202;
	border-bottom: 1px dashed #b1007c;
	cursor: pointer;
}

.sort__popup {
	position: absolute;
	right: 0;
	margin-top: 15px;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 0;
}

.sort__popup ul {
	overflow: hidden;
}
.sort__popup ul li {
	padding: 12px 20px;
	cursor: pointer;
}

.sort__popup ul li.active {
	background: rgba(0, 187, 25, 0.699);
}
.sort__popup ul li:hover {
	background: rgba(0, 116, 15, 0.699);
}

.sort__popup ul li.active {
	font-weight: bold;
	color: #000000;
}
